
:root {
    box-sizing: border-box;
    --primary-bgcolor: #e5eaf6;
    --secondary-bgcolor:#303e64;
    --text-color: #c6cfe3;
    --headings-color: #303e64;
    --action-bgcolor: #ff576b;
    --text-font-size: 1rem;
    --link-text-color: #7697F5;
    --text-darkbg-color: #F5D176;
    --primary-font-family: 'Work Sans';
}
*,
*::before,
*::after{   
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
body {
    font-size: 16px;
    font-family: var(--primary-font-family); 
}

/* style chat room header  */
.chatroom-header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    background: white;
    color: var(--headings-color);
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    border-bottom: .1rem solid var(--primary-bgcolor);
    margin-bottom: 1rem;
}


/* style chat room messages  */
/* chat room message container */
.chatroom-messages{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
}
/* chat room message */
.chatroom-message {
    position: relative;
    list-style-type: none;
    width: -moz-fit-content;
    background: var(--secondary-bgcolor);
    /* color: white; */
    color: #F5D176;
    padding: 1rem;
    border-radius: 1rem 1rem 1rem 0;
    margin-bottom: 3rem;
    align-self: flex-end;
    display: flex;
}
/* differentiate sent messages and recieved messages */
.chatroom-message.recieved {
    background: var(--text-darkbg-color);
    color: var(--secondary-bgcolor);
    align-self: center;
    border-radius: 1rem 1rem 0 1rem;
}

.links{
    color: var(--link-text-color);
}

.chatroom-message .time {
    position: absolute;
    bottom: -1.4rem;
    right: .5rem;
    color: #bbb;
}

/* end of chatroom message styling */

/* input controls */
.chatinput-controls {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background: white;
    width: 100%;
}
.chatinput-controls div + div {
    margin: 0;
}
.chatinput-message {
    background: var(--primary-bgcolor);
    padding: 1rem;
    border: none;
    outline: none;
    color: var(--headings-color);
    font-size: var(--text-font-size);
    margin: 1rem;
    margin-right: 0;
    border-radius: 1.5rem;
    display: flex;
    height: auto;  
}
.chatbutton-send-message{
    padding: 1rem;
    background: var(--action-bgcolor);
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    margin: 1rem;
    align-self: flex-end;

}
.chatbutton-send-message::-webkit-input-placeholder
{
    margin: 0 2rem;
}
