*,*::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-family: 'Work Sans', 'Roboto';
    font-size: 16px;
}
body {
    padding: 2rem;
   
    background: #f0ece8;
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 50vw;
    background: #fff;
}
.room-header {
    padding: 1rem;
    background: #fff;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: .1rem solid #f0ece8;
}
.container .messages-timeline {
    display: flex;
    flex-direction: column;
    min-height: 20vw;
    width: 100%;
}
.message{
    width: fit-content;
    display: flex;
    margin: 1.2rem 0;
    padding: .9rem;
    list-style-type: none;
    color: black;
    background: #f8f4f0;
    font-size: .9rem;
}
.message.recieved {
    align-self: flex-end;
    margin-right: 4rem;
    border-radius: 1rem 1rem .13rem 1rem;
}
.message.sent {
    align-self: center;
    background: #1f1f1f;
    color: white;
    border-radius: 1rem 1rem 1rem .13rem;
}
.container .messaging-control {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    /* border: .1rem solid green; */
    padding-right: 2rem;
}  
.container .messaging-control .message-input {
    flex-basis: 2;
    padding: 1rem;
    /* margin: 1rem; */
    outline: none;
    margin-left: 2rem;
    border: none;
    border-bottom: .1rem solid #e9e5df;
    color: black;
    font-weight: 400;
    
}
.container .messaging-control .send-message-btn{
    padding: 1rem;
    background: #928e8b;
    color: white;
    border: none;
    border-radius: 1.4rem;
    cursor: pointer;
    pointer-events: all;
    
}
.message-input,
.send-message-btn,
.emojis {
    margin: 1rem 0;
    font-size: 1rem; 
}
.emojis {
    margin-left: -1rem;
    margin-right: 3rem;
    margin-bottom: 1.8rem;
    cursor: pointer;
    color: #bbb;
}
.emojis:hover{
    color: black;
}
.send-icon {
    font-size: 1.2rem;
}
.send-message-btn:hover,
.send-message-btn:focus
{
    background: black !important;
}
.user-connected {
    color: #bbb;
    font-size: 1rem; 
    align-self: center; 
    margin-left: 3rem;
    background: none;
}